.div.m-4
  .page.header
    %p{:style => "color: green"}= notice
    %h1.mb-4
      = "Lista de Usuarios"
      .float-right
        = link_to "Nuevo Usuario", new_user_path, class: "btn btn-primary"
  %table.table.table-striped
    %thread
      %tr
        %th= t('activerecord.attributes.user.name')
        %th= t('activerecord.attributes.user.password')
        %th= t('activerecord.attributes.user.mail')
        %th= t('activerecord.attributes.user.address')
        %th= t('activerecord.attributes.user.role')
        %th        
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.password
          %td= user.mail
          %td= user.address
          %td= t("activerecord.attributes.user.roles.#{user.role}")
          %td= link_to "Ver", user, class: "btn btn-info"
          %td= link_to "Editar", edit_user_path(user), class: "btn btn-success"
          %td= link_to "Eliminar", user, method: :delete, class: "btn btn-danger",
                                  data: {confirm: "Desea eliminarlo",
                                  accept: t('application.accept'),
                                  reject: "Cancelar"}
