.div.m-4
  .page.header_new
    = form_for @client, validate: true do |f|
      .form-group.ml-4.mr-4
        = f.label t('activerecord.attributes.user.name'), class: "form-label required" 
        %div
          = f.label @client.name, class: "form-control"
      .form-group.ml-4.mr-4
        = f.label t('activerecord.attributes.user.last_name'), class: "form-label required"
        %div
          = f.label @client.last_name, class: "form-control"
      .form-group.ml-4.mr-4
        = f.label  t('activerecord.attributes.user.mail'), class: "form-label required"
        %div
          = f.label @client.email, class: "form-control"
      .form-group.ml-4.mr-4
        = f.label  t('activerecord.attributes.user.address'), class: "form-label required"
        %div
          = f.label @client.adress, class: "form-control"

      .form-group.ml-4.mr-4 
        = f.label t('activerecord.attributes.user.statu'), class: "form-label required"
        = f.select(:block, options_for_select(method_Block, @client.block),
                            {prompt: t('application.select')}, class: 'form-control')

        

      .row
        .offset-3.col-3
          = link_to t('application.back'), clients_path, class: "button_Back button_Back"
        .col-3
          = button_tag t('application.save'), class: "button_saving button_Back", 'data-disable-with': t('application.saving')
