.div.m-4
  .page.header_new
    %h2 
      =t('activerecord.modules.client.one')
    .card
      %img{:height => "250", :src => "https://img.icons8.com/windows/512/contacts.png", :width => "250"}/   
      .container
        %h5
          =t('activerecord.attributes.client.full_name')
          %p 
            = "#{@client.name}  #{@client.last_name}" 
        %h5 
          =t('activerecord.attributes.client.email')
        %h5 
          %p 
            = @client.email
        %h5
          =t('activerecord.attributes.client.adress')
        %h5 
          %p 
            =  @client.adress
        %h5
          =t('activerecord.attributes.client.block')
        %h5 
          %p 
            =  @client.block
    .row.mt-3
      .offset-3.col-3
        = link_to t('application.back'), clients_path, class: "button_Back button_Back"
